.uncontrolled-modal {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #00000010;

  &__content {
    margin: 200px auto;
    width: 70%;
    background-color: rebeccapurple;
  }

  &__button {
    position: absolute;
    top: 180px;
    right: 10%;
    border: none;
    background-color: red;
  }
}
